.App {
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  color: #fffffe;
}

p, ul{
  color: #abd1c6;
}

input{
  background-color: #abd1c6;
  border: none;
  border-radius: 5px;
}

body{
  background-color: #004643;
}

button.primary{
  border: none;
  border-radius: 4px;
  background-color: #f9bc60;
  color: #001e1d;
}

button.primary:hover{
  cursor: pointer;
  background-color: #e16162;
}