.App {
  text-align: center;
}

ul{
  list-style: none;
  padding: 0;
}

h1,h2,h3,h4,h5,h6{
  color: #fffffe;
}

p, ul,label{
  color: #abd1c6;
}

input{
  background-color: #abd1c6;
  border: none;
  border-radius: 5px;
}

body{
  background-color: #004643;
}

button.primary, a{
  border: none;
  padding: 4px;
  border-radius: 4px;
  background-color: #f9bc60;
  color: #001e1d;
  text-decoration: none;
}

button.primary:hover{
  cursor: pointer;
  background-color: #e16162;
}

select{
  background-color: #abd1c6;
}

select:focus > option:checked { 
  background-color: #f9bc60;
}
select option:hover{
  background-color: #f9bc60;
  box-shadow: 0 0 10px 100px #f9bc60 inset;

}